.about {
  width: calc(100vw - 593px);
  margin: 20px auto 25px auto;
  overflow-y: scroll;
}

.bio-pic {
  margin: 20px 20px 0 0;
  width: 300px;
  height: auto;
  float: left;
}

.about>h1 {
  white-space: normal;
  margin: 20px 0 0 20px;
  font-size: 49px;
}

h2 {
  white-space: normal;
  font-family: 'Raleway', serif;
  font-weight: bold;
  font-size: 32px;
  transform: rotate(0deg);
  color: #3D3D3D;
  background-color: transparent;
  text-transform: none;
  margin: 20px 0 0 20px;
  padding: 0;
  width: auto;
}

p {
  margin: 20px 0 0 0;
  white-space: normal;
  font-family: 'Manrope', serif;
  font-size: 18px;
  color: #3D3D3D;
  max-width: 75ch;
  background-color: transparent;
}
